body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:palevioletred;
    margin: 2px;;
    padding:20px;
}
p,ul{
    font-size:16px;
}
h2{
    color: blue;
    padding-top: 2px;
    margin: 10px;
}